body {
  background-color: white;
  text-align: center;
  color-scheme: rgb(14, 121, 80); 
}




h1 {
  color:rgb(14, 121, 80); 
  background-color: white;
  text-align: center;
  margin-top: 50px;
  padding-bottom: .5in;
  
  

}
h3 {
  color:rgb(14, 121, 80); 
  background-color:white;
  border-top:white;
  text-align: center; 

  

}
p {
  text-align: center;
  color:rgb(14, 121, 80); 
  background-color: white;
}
